<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <style>
        .caixa {
            width: 200px;
            height: 200px;
            display: inline-block;
            margin-right: 10px;
            background-color: grey;
        }

        .coral {
            background-color: lightcoral;
        }

        .verde {
            background-color: lightgreen;
        }

        .azul {
            background-color: lightblue;
        }

        .circulo {
            border-radius: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="caixa" :class="{coral: aplicarClasse}" @click="aplicarClasse = !aplicarClasse"></div>
        <div class="caixa" :class="nomeClasse"></div>
        <div class="caixa" :class="classesCSS" @click="aplicarClasse = !aplicarClasse"></div>
        <div class="caixa" :class="['circulo', nomeClasse, {verde: aplicarClasse}]"></div>

        <input v-model="nomeClasse" placeholder="Nome da classe CSS">

        <hr>
        <input v-model="cor" placeholder="Cor">
        <input v-model.number="tamanho" placeholder="Tamanho em px">
        <!-- <div 
            style="width: 200px; height: 200px" 
            :style="{backgroundColor: cor, height: tamanho + 'px'}"
        >
        </div> -->
        <div :style="[estilosCSS,{border: '2px solid black', 'margin-top': '10px'}]"></div>

        <div :style="{display: ['-webkit-box', '-ms-flexbox', 'flexbox']}"></div>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                aplicarClasse: false,
                nomeClasse: '',
                cor: 'blue',
                tamanho: 100
            },
            computed: {
                classesCSS: function () {
                    return {
                        azul: this.aplicarClasse,
                        circulo: this.aplicarClasse,
                        verde: !this.aplicarClasse
                    }
                },
                estilosCSS: function () {
                    return {
                        backgroundColor: this.cor,
                        height: (this.tamanho) + 'px',
                        width: '100px'
                    }
                }
            }
        })
    </script>
</body>

</html>